
/* *****************************************************************
OVERLAY
***************************************************************** */

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.5);
}
.overlay.visible {
	display: block;
}

/* *****************************************************************
MODAL
***************************************************************** */

.modal {
	position: absolute;
	top: 10vh;
	left: 25vw;
	width: 50vw;
	padding: 2em;
	background-color: #fff;
	box-shadow: 0 1em 2em rgba(0,0,0,0.5);
	transition: all 2s;
	transform: translateY(-100vh);
}
.modal.visible {
	transform: translateY(0);
	transition: all 0.2s;
}