$primary-color:#6f4e37;
$secondary-color:#bfa58a;
$light-color:#fdfaf6;
$dark-color:#1c1c1c;

$font:"Georgia";

$m-sm: 0.5rem;
$m-md: 1rem;
$m-lg: 2rem;

$p-sm: 0.5rem;
$p-md: 1rem;
$p-lg: 2rem;

$radius-md: 0.5rem
