body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

#controls {
  margin-bottom: 10px;
}

#grid {
  display: grid;
  grid-template-columns: repeat(50, 20px);
  grid-template-rows: repeat(50, 20px);
  width: 1000px;
  height: 1000px;
  border: solid 2px black;
}

.cell {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  box-sizing: border-box;
  cursor: crosshair;
  border: 1px solid lightgray;
}

button {
  margin-left: 5px;
}
